{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "@sanv/eslint-config-unicorn-typescript",
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "complexity": ["error", 3],
    "indent": "off",
    "@typescript-eslint/indent": "off",
    "semi": "off",
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/semi": "off",
    "import/prefer-default-export": "off",
    "prettier/prettier": "error"
  }
}
